.header {
    display: flex;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
}

.logoContainer {
    max-height: 37px;
    display: flex;
    align-items: center;
    /* gap: 1px; */
}

.logoContainer img {
    width: 100%;
    height: 100%;
}

.logoContainer h5 {
    white-space: nowrap;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 0px;
}

/* nav cont */
.navbarContainer,
.navbar {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navbar {
    margin: 1px 0;
}

.navLink {
    color: #BCBCBC;
    text-decoration: none;
    padding: 2px 4px;
    border-bottom: 3px solid #FFEC05;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.navLink:active {
    color: #FFFFFF;
    border-bottom: 5px solid #FFEC05;
}

.contactButton {
    font-size: 15px;
    color: #333333;
    padding: 10px 26px;
    border-radius: 30px;
    border: none;
    background-color: #FFEC05;
    font-weight: 500;
    cursor: pointer;
}